/* Noto Sans Display */
/* "Noto Sans Display", sans-serif */
/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap"); */

@font-face {
  font-family: "Outfit";
  src: url("../../../public/fonts/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* Font weight range */
  font-style: normal;
  font-display: swap;
}
